<h2>ジャンル一覧・追加</h2>

<%=form_with model: @genre, url: admin_genres_path, local: true do |f|%>
  <label for="name">ジャンル名</label> 
  <%=f.text_field :name,placeholder: "ジャンル名"%>
  <%=f.submit "新規登録"%>
<%end%>

<thead>
  <tr>
    <th>ジャンル</th>
  </tr>
</thead>

<tbody>
  <tr>
    <% @genres.each do |genre|%>

      <td><%=genre.name%></td>
      <td><%=link_to "編集する", edit_admin_genre_path(genre.id)%></td>
    <%end%>
  </tr>
</tbody>
  